@model LavadoraMVC.Models.Usuarios

@{
    ViewData["Title"] = "Registro";
}


<div class="row justify-content-center">
    <div class="col-md-4">
        <h1 class="text-center">Registro</h1>
        <hr />
        <form asp-action="Index">
            @if (ViewBag.MostrarError)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>@ViewBag.Error</strong>
                </div>                
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-2">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Rol" class="control-label"></label>
                <select asp-for="Rol" class="form-control">
                    <option value="cliente">Cliente</option>
                    <option value="administrador">Administrador</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary btn-block btn-lg" >Registrar</button> 
        </form>
    </div>
</div>

