@model LavadoraMVC.Models.RequestMejorTipo

@{
    ViewData["Title"] = "Mejor";
    Layout = "_LayoutAdmin";
}

<div class="row justify-content-center">
    <div class="col-md-5">
        <h1>Tipo de lavado más requerido</h1>
        <hr />
        <form asp-action="MejorTipoLavado">
            @if (ViewBag.MostrarError)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>@ViewBag.Error</strong>
                </div>               
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mt-1">
                <label asp-for="Fecha" class="control-label">Fecha</label>
                <input asp-for="Fecha" class ="form-control" type="date"/>
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-md-5">
        @if (ViewBag.MostrarResultado)
        {
            <p><strong>El tipo de lavado más solicitado es @ViewBag.Tipo</strong></p>
        }
    </div> 
</div>


